<!-- novo item -->
<div class="card">
  <h5 class="card-header">  
    Itens do pedido
  </h5>
  <div class="card-block">
    Identificador: {{Order._id}}<br>
    Código: {{Order.codigo}}<br>
    Data: {{Order.data}}<br>
    Cliente: {{Order.client}}
  
  </div>
</div>

<div class="card" *ngIf="!isEditing">
<h5 class="card-header">Novo Item</h5>
<div class="card-block">
  <form class="form-inline" [formGroup]="addItemForm" (ngSubmit)="addItem()" style="text-align:left">
    <div class="form-group">
        <input class="form-control" type="text" name="product" formControlName="productName" placeholder="Produto" (keyup)="search($event)" autocomplete="off">
        <!-- resutados da busca -->
        <ul id="procuts-search-result">
          <li *ngFor="let product of productsSearchResult" (click)="setProduct(product)">
            {{product.name}} - {{product.ean}}
          </li>
        </ul>
        <input class="form-control" type="text" name="product" formControlName="product" placeholder="Produto" *ngIf="false" />
    </div>
    <div class="form-group">
      <input class="form-control" type="number" name="amount" formControlName="amount" placeholder="Quantidade">
      <input type="number" name="orderId" formControlName="orderId" [hidden]="true">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!addItemForm.valid"><i class="fa fa-floppy-o"></i> Adicionar</button>
  </form>
</div>

<div class="card" *ngIf="isLoading">
  <h5 class="card-header">Loading...</h5>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>
 
<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h5 class="card-header">Items: {{Items.length}}</h5>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Produto (id)</th>
          <th>Quantidade</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="Items.length == 0">
        <tr>
          <td colspan="4">Nenhum item adicionado.</td>
        </tr>   
      </tbody>
      <tbody *ngIf="Items.length > 0">
        <tr *ngFor="let item of Items">
          <td>{{item.productId}}</td>
          <td>{{item.amount}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteItem(item)">
              <i class="fa fa-trash"></i> Apagar
            </button>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(item)">
              <i class="fa fa-pencil"></i> Editar
            </button>
          </td>
        </tr>  
      </tbody>
    </table>
</div>
</div>
</div>


<!-- Edição de item -->
<div *ngIf="isEditing">
  <form class="form-inline" #form="ngForm" (ngSubmit)="editItem(Item)" style="display:inline">
    <div class="form-group">
        
    </div>
    <div class="form-group">
      <label>Quantidade</label>
      <input class="form-control" type="text" name="amount" [(ngModel)]="Item.amount" required>
    </div>
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid">
      <i class="fa fa-floppy-o"></i> Salvar</button>
  </form>    
</div>